<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot_description)/urdf/my_robot.urdf'"/>

    <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model my_robot -param robot_description" output="screen"/> -->

 <!-- Add a Gazebo camera sensor to the robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model my_robot -param robot_description -J camera_joint 0.0"/>
    
<!-- Launch color tracking node -->
<node name="color_tracking_node" pkg="my_robot_color_tracking" type="color_tracking_node" output="screen"/>


<!-- Launch robot control node -->
<node name="robot_control_node" pkg="my_robot_control" type="robot_control_node" output="screen"/>

    <!-- Other Gazebo plugins and configurations can be added here -->
</launch>
